{% extends "layout.html" %}
{% block title %}Kysely - {{ topic }}{% endblock %}
{% block content %}
<h2>Kysely - {{ topic }}</h2>
<hr>
{% if session.role == 2 %}
    {% if count > 0 %}
        <form action="/course/{{ topic }}/exercise" method="POST">
        {% for exercise in exercises %}
        {{ exercise[2] }}<br>
            {% if exercise[4] != "None" %}
                {% set options = exercise[4].split(",") %}
                {% for option in options %}
                    {% if loop.index == 1 %}
                    <input type="radio" name="{{ exercise[0] }}" value="{{ option }}" checked> {{ option }}<br>
                    {% else %}
                    <input type="radio" name="{{ exercise[0] }}" value="{{ option }}"> {{ option }}<br>
                    {% endif %}
                {% endfor %}
            {% else %}
            Vastaus: <input type="text" name="{{ exercise[0] }}" placeholder="Max. 20 merkkiä" maxlength="20"><br>
            {% endif %}
        <br>    
        {% endfor %}
        <input type="submit" value="Palauta" class="btn btn-primary">
        </form>
    {% else %}
    Kurssille ei ole luotu kysymyksiä.
    <br>
    {% endif %}     
{% elif session.role == 1 %}
<u>Luomasi kysymykset ja niiden vastaukset:</u><br><br>
{% for exercise in exercises %}
    {{ exercise[2] }}<br>
        {% if exercise[4] != "None" %}
        <ul>
            {% set options = exercise[4].split(",") %}
            {% for option in options %}
                {% if option == exercise[3] %}
                <li>{{ option }} <- Oikea vastaus</li> 
                {% else %}
                <li>{{ option }}</li>
                {% endif %}
                
            {% endfor %}
        </ul>    
        {% else %}
        Oikea vastaus: {{ exercise[3] }}
        <br>
        {% endif %}
        <br>
    <form action="/remove" method="POST">
        <input type="hidden" value="{{ exercise[0] }}" name="exercise_id" />
        <input type="hidden" value="{{ topic }}" name="topic" />
        <input type="submit" class="btn btn-warning" value="Poista">
    </form><br>
    {% endfor %}
{% endif %}
<br>
<a href="/course/{{ topic }}" class="btn btn-info">Palaa</a><br>
{% endblock %}