{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<h2>Etusivu</h2>
<hr>
{% if session.user_id %}
    {% if session.role == 1 %}
    <a href="/new" class="btn btn-success">Luo kurssi</a><br>
        {% if count > 0 %}
        Luomasi kurssit:<br>
        {% else %}
        Et ole luonut vielä kursseja.
        {% endif %}
    {% elif session.role == 2 %}
        {% if count > 0 %}
        <a href="/check" class="btn btn-primary">Kurssini</a><br>
        Saatavilla olevat kurssit:
        {% else %}
        Kursseja ei ole saatavilla.
        {% endif %}
    {% endif %}
        {% for course in courses %}
        <br>
        <a href="/course/{{ course[0] }}" class="btn btn-secondary">{{ course[0] }}</a><br>
        <i>Muokattu:</i> {{ course[1].strftime("%d.%m.%Y // %H:%M:%S") }}<br>
        {% endfor %}
{% else %}
<h3>Tervetuloa!</h3>
Aloita kirjautumalla sisään yläpalkin valikosta.
{% endif %}
{% endblock %}