<!doctype html>
<html lang="en">
  <head>
    {% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style>
body { font-family: Verdana, Helvetica, sans-serif; }
</style>
<title>{% block title %}{% endblock %}</title>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="/">Etusivu</a>
        <ul class="navbar-nav">
          {% if session.user_id %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Kirjaudu ulos</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Kirjautuminen</a>
          </li>  
          {% endif %}
        </ul>
      </nav>
        <div class="row">
          <div class="col-8">
          </div>
        </div>
  
    {% endblock %}
  </head>
  <body>
    <div id="default">

{% block content %}
<hr>
{% endblock %}
<hr>
{% if session.user_id %}
    Olet kirjautuneena käyttäjätunnuksella <i>{{ session.username }}</i>.<br>
    Tittelisi on {% if session.role == 1 %}<i>opettaja</i>.
                    {% elif session.role == 2 %}<i>oppilas</i>.
                    {% endif %}
{% else %}
Et ole kirjautunut sisään.
{% endif %}
    </div>
  </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
  </body>
</html>